.satag--home-landing{

  @mixin ohne-balken{
    h1,h2,h3,h4,h5,h6{
      &:after{
        display: none;
      }
    }
  }

  .satag--home-hero{

    margin-top: 7rem;

  .entry-text{
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
  }


    //@include ohne-balken;

    h1{
      //font-size: 6rem;
      margin-bottom: 1.75rem;
      text-align: left;
      //line-height: 114%;
      &:after{
        height: 12px;
        width: 85px;
        margin-top: 1.3rem;
        margin-bottom: -0.2rem;
      }
    }

    .hero-buttons{
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    //text-align: center;

    .screenshot-container{

      text-align: center;
    }

    img{
      border: 1px solid var(--md-primary-fg-color--light);
      width: 100%;
    }

  }

  .satag--home-companies{

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    background-color: var(--md-primary-fg-color);

    h2{
      padding-bottom: 1rem;
      max-width: 61rem;
      text-align: left;
      margin: 0 auto;
    }

    //@include ohne-balken;

    text-align: center;
    .satag--home-companies-logo-container{
      display: flex;
      max-width: 61rem;
      margin: 0 auto;

      .satag--home-companies-logo{
        flex: auto;
        img{
          width: 80%;
          float:left;
        }
      }
    }
  }

  .satag--home-counters{

    width: 100%;


    h2{
      padding-bottom: 1rem;
    }

    @include ohne-balken;

    text-align: center;
    .satag--home-counters-container{
      display: flex;
      .satag--home-counter{
        flex: auto;
        display: block;
        .satag--home-counter-icon{
          display: block;
          font-size: 2rem;
          color: var(--md-primary-fg-color--light);
        }
        .satag--home-counter-number{
          display: block;
          font-weight: 700;
          font-size: 3rem;
          line-height: 1.6;
        }
      }
    }
  }

}

body{
  &.home{

    background-image: url(../assets/images/home/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    backdrop-filter: brightness(0.4);
    background-size: 60%;
    background-position-y: 2rem;


    .md-header, .md-tabs {
      background-color: transparent;
      box-shadow: none;
    }

  }

}