{% extends "base.html" %}

{% block title %}
  {% include "partials/title.html" %}
{% endblock %}

{% block extrahead %}
{{ super() }}
<!-- Social card meta tags -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:image" content="{{ config.site_url }}assets/images/home/share.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="{{ page.canonical_url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ config.site_description }}">
<meta name="twitter:image" content="{{ config.site_url }}assets/images/home/share.jpg">
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="satag--cookie-consent-container">
    <script id="usercentrics-cmp" async data-eu-mode="true" data-settings-id="plHHr67Ul9jqQP" src="https://app.eu.usercentrics.eu/browser-ui/latest/loader.js"></script>
</div>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setExcludedQueryParams", ["utm_source","utm_medium","utm_campaign","utm_content","utm_term","fbclid","gclid","_ga","ref","osCsid","uKey"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://ut.literama.de/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '63']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->
{% endblock %}

{% block footer %}
{{ super() }}

<div class="md-footer-container">
    <div class="satag--custom-footer-column left">
        <div class="satag--footer-text">
            satware AG<br>
            Friedrich-Ebert-Str. 34<br>
            67549 Worms
        </div>
    </div>
    <div class="satag--custom-footer-column right">
        <div class="satag--footer-text">
            <a href="tel:+496241987280" title="Rufen Sie uns jetzt an">06241 987280</a><br><a
                href="mailto:info@satware.com"
                title="Schreiben Sie uns direkt eine E-Mail">info@satware.com</a>
        </div>
        <div class="satag--footer-social-icons">
            <a target="_blank" href="https://www.facebook.com/satwareAG/"
               title="Zur Facebook Seite der satware AG"><i class="fa-brands fa-square-facebook"></i></a><a
                target="_blank" href="https://www.instagram.com/satware.ag/"
                title="Zur Instagram Page der satware AG"><i class="fa-brands fa-instagram"></i></a><a
                target="_blank" href="https://www.linkedin.com/company/satware-ag/?originalSubdomain=de"
                title="Zur LinkedIn Seite der satware AG"><i class="fa-brands fa-linkedin"></i></a><a
                target="_blank" href="https://twitter.com/satwareAG" title="Zur X Page der satware AG"><i
                class="fa-brands fa-x-twitter"></i></a><a target="_blank"
                                                          href="https://www.xing.com/pages/satwareag"
                                                          title="Zur Xing Seite der satware AG"><i
                class="fa-brands fa-xing"></i></a><a target="_blank"
                                                     href="https://www.youtube.com/channel/UChfn2XBDE9yfZrWnMzs1k0g"
                                                     title="Zum YouTube Kanal der satware AG"><i
                class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>
<div class="md-footer-custom-links">
    <a href="https://satware.com/custom/index/sCustom/1" target="_blank" title="Kontakt">Kontakt</a>
    <a href="/impressum/" title="Impressum">Impressum</a>
    <a href="/datenschutz/" title="Datenschutzerklärung">Datenschutz</a>
    <!--<a href="/barrierefreiheitserklaerung" title="Barrierefreiheitserklärung">Barrierefreiheitserklärung</a>-->
    <a href="/blog/" title="Blog">Blog</a>
    <a href="https://satware.com/newsletter" target="_blank" title="Newsletter">Newsletter</a>

</div>
{% endblock %}
