<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="shortcut icon" href="/assets/img/satai-favicon.png" sizes="196x196">
    <link rel="apple-touch-icon" href="/assets/img/satai-favicon.png" sizes="196x196">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://satware.ai/assets/img/share.jpg">
    <meta name="twitter:image" content="https://satware.ai/assets/img/share.jpg">

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/satag.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/all.min.css" | relative_url }}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{{ "/" | relative_url }}">
            <img src="{{ "/assets/img/satware-ai.svg" | relative_url }}" alt="satware//AI Logo">
            </a>
        </div>
    </div>
</header>

<main>
    {{ content }}
</main>

<footer>
    <div class="footer-container">
        <div class="footer-column">
            <p>satware AG</p>
            <p>Friedrich-Ebert-Str. 34</p>
            <p>67549 Worms</p>

        </div>
        <div class="footer-column">
            <p>06241 987280</p>
            <p>E-Mail: <a href="mailto:ja@satware.com" title="E-Mail an Jane Alesi">ja@satware.com</a></p>
            <div class="social-media">
                <a target="_blank" href="https://www.facebook.com/satwareAG/" title="Zur Facebook Seite der satware AG"><i class="fa-brands fa-square-facebook"></i></a><a target="_blank" href="https://www.instagram.com/satware.ag/" title="Zur Instagram Page der satware AG"><i class="fa-brands fa-instagram"></i></a><a target="_blank" href="https://www.linkedin.com/company/satware-ag/?originalSubdomain=de" title="Zur LinkedIn Seite der satware AG"><i class="fa-brands fa-linkedin"></i></a><a target="_blank" href="https://twitter.com/satwareAG" title="Zur X Page der satware AG"><i class="fa-brands fa-x-twitter"></i></a><a target="_blank" href="https://www.xing.com/pages/satwareag" title="Zur Xing Seite der satware AG"><i class="fa-brands fa-xing"></i></a><a target="_blank" href="https://www.youtube.com/channel/UChfn2XBDE9yfZrWnMzs1k0g" title="Zum YouTube Kanal der satware AG"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-column">

        </div>
        <div class="footer-column">
            <!-- Leere Spalte -->
        </div>




    </div>
    <ul id="menu-footer" class="bottom-nav"><li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385"><a target="_blank" href="https://satware.com/kontakt/">Kontakt</a></li>
        <li id="menu-item-383" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383"><a target="_blank" href="https://satware.com/impressum/">Impressum</a></li>
        <li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384"><a target="_blank" href="https://satware.com/datenschutzerklaerung/">Datenschutz</a></li>
        <li id="menu-item-822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822"><a target="_blank" href="https://satware.com/newsletter/">Newsletter</a></li>
    </ul>
</footer>
</body>
</html>
